* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 clamp(1.6rem, calc(1.6rem + ((1vw - 0.48rem) * 2.5)), 4rem);
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

h2 {
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.005em;
}

h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.0025em;
}

h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Squircle CSS */
[data-squircle] {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

[data-squircle] > svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  height: 100%;
}

/* Helpers */
.text-overline {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn-success {
  background-color: #17a34a;
}

/* Buttons */

a {
  display: inline-block;

  border: 1px solid transparent;
  border-radius: 12px;
  padding: 15px 24px;

  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;

  background-color: #4057ff;
  color: #fff;
  white-space: nowrap;
  transition: background-color 0.6s;
}

a:not(.btn-ghost):hover {
  background-color: #3346CC;
}

a.btn-xsm {
  padding: 10px 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  border-radius: 8px;
}

a.btn-sm {
  padding: 12px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  border-radius: 8px;
}

a.btn-lg {
  padding: 15px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border-radius: 16px;
}

.btn-ghost {
  position: relative;
  background-color: #fff;
  color: #4b5262;
  border: 1px solid #cfd2d8;
  transition: color 0.6s, border 0.6s;
}

.btn-ghost[data-squircle] {
  z-index: 0;
}

.btn-ghost[data-squircle] svg {
  z-index: -1;
}

.btn-ghost:hover {
  color: #2A303C;
  border: 1px solid #4B5262;
}

.btn-ghost[data-squircle] path {
  transition: stroke 0.6s;
}

.btn-ghost[data-squircle]:hover path {
  stroke: #4B5262;
}


.buttons__styles {
 display: flex; 
 gap: 20px;
}

.buttons__style {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.buttons__container,
.modals__container {
  display: flex;
  gap: 80px;
}

.buttons__wrapper,
.modals__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

@media only screen and (max-width: 768.9px) {
  .buttons__container,
  .modals__container {
    flex-direction: column; 
    gap: 48px;
    width: 100%;
  }

  a {
    width: 100%;
    height: 100%;
  }
}

/* Icons Squircle */
.icons__container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cfd2d8;
  width: 56px;
  height: 56px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.6s;
}

.icon:hover {
  background-color: #000000;
}

.icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Modals */
.modals .container {
  max-width: 1280px;
}

.modal {
  position: relative;
  max-width: 552px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #cfd2d8;
}

.modal[data-squircle] {
  overflow: visible;
}

.modal__close {
  position: absolute;
  display: flex;
  top: 18px;
  left: calc(100% - (20px + 16px));
  cursor: pointer;
}

.modal__close svg {
  pointer-events: none;
  width: unset;
  height: unset;
}

.modal__title {
  padding: 14px 24px;
}

.modal__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 0 24px;
  padding-top: 8px;
  padding-bottom: 16px;
  color: #2a303c;
}

.modal__icon svg {
  position: static;
  width: unset;
  height: unset;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 16px 24px;
  background-color: #f6f7f9;
}

.modal__footer a {
  padding: 13px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}
